<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Вход</h1>
      <p>Создайте аккаунт или войдите в систему</p>
      <a href="/users/login" class="btn btn-primary btn-block mb-2">Войти</a>
      <h2>Регистрация</h2>
      <a href="/users/clientregisterwix" class="btn btn-secondary btn-block">Клиент</a>
      <a href="/users/doctorregisterwix" class="btn btn-secondary btn-block">Психолог</a>
    </div>
  </div>
</div>
